#stars, #stars2, #stars3 { 
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
 }
#stars div, #stars2 div, #stars3 div { 
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: twinkle infinite ease-in-out;
 }

@keyframes twinkle {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}